<div
    *ngIf="showConsent"
    role="alert"
    class="alert font-semibold text-sm md:w-max alert-info"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="h-6 w-6 shrink-0 stroke-current"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
    </svg>
    <span>We only Support Image formats like JPG, PNG etc as of now.</span>
    <div class="cursor-pointer" (click)="closeConsent()">
        <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 512 512"
            height="2em"
            width="2em"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M278.6 256l68.2-68.2c6.2-6.2 6.2-16.4 0-22.6-6.2-6.2-16.4-6.2-22.6 0L256 233.4l-68.2-68.2c-6.2-6.2-16.4-6.2-22.6 0-3.1 3.1-4.7 7.2-4.7 11.3 0 4.1 1.6 8.2 4.7 11.3l68.2 68.2-68.2 68.2c-3.1 3.1-4.7 7.2-4.7 11.3 0 4.1 1.6 8.2 4.7 11.3 6.2 6.2 16.4 6.2 22.6 0l68.2-68.2 68.2 68.2c6.2 6.2 16.4 6.2 22.6 0 6.2-6.2 6.2-16.4 0-22.6L278.6 256z"
            ></path>
        </svg>
    </div>
</div>

<div>
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Uploaded At:</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of files">
                <!-- row 1 -->
                <tr>
                    <td class="cursor-pointer" (click)="showDetails(item.name)">
                        <div class="flex items-center gap-3">
                            <div class="avatar">
                                <div class="mask mask-squircle h-12 w-12">
                                    <img
                                        [src]="item.url"
                                        [alt]="item.name"
                                        loading="lazy"
                                    />
                                </div>
                            </div>
                            <div>
                                <div class="font-bold">{{ item.name }}</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ item.size | memoryConverter }}
                        <br />
                        <span class="badge badge-ghost badge-sm">{{
                            item.contentType
                        }}</span>
                    </td>
                    <td>{{ item.timeCreated | date }}</td>
                    <th>
                        <button
                            (click)="deleteFile($event, item.fullPath)"
                            class="btn btn-ghost btn-xs"
                        >
                            Delete
                        </button>
                    </th>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
