<section class="w-full max-w-xl px-2 flex flex-col items-center mx-auto">
    <div class="self-start">
        <label
            for="profile-picture"
            class="label font-semibold text-sm md:text-lg"
            >Profile Picture:</label
        >
        <div
            class="tooltip m-2 tooltip-bottom"
            data-tip="Choose Profile Photo!"
        >
            <div class="avatar">
                <div
                    class="w-36 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"
                >
                    <img
                        [src]="user.photoURL"
                        class=""
                        alt="user-img"
                        loading="lazy"
                        (click)="selectFile()"
                    />
                    <input
                        type="file"
                        #fileInput
                        networkDisabled
                        (change)="uploadprofile($event)"
                        accept="image/jpg"
                        class="hidden"
                    />
                </div>
            </div>
        </div>
    </div>

    <form
        action="user-update"
        [formGroup]="updateForm"
        class="w-full"
        (ngSubmit)="submitForm()"
    >
        <section class="form-control">
            <label
                for="name"
                [ngClass]="{'text-error':username.errors && username.touched}"
                class="label font-semibold text-sm md:text-lg"
                >User Name :</label
            >
            <input
                type="text"
                [ngClass]="{'input-error':username.errors && username.touched}"
                formControlName="username"
                class="input input-bordered input-sm md:input-md"
            />
        </section>
        <section @fade *ngIf="username.errors && username.touched" @fade>
            <p class="text-xs md:text-sm mt-2 text-error font-semibold">
                <ng-container *ngIf="username.errors['whitespace']"
                    >User name is invalid</ng-container
                >
            </p>
        </section>
        <section class="flex mt-4 justify-end">
            <button
                networkDisabled
                [disabled]="!updateForm.valid || isLoading"
                type="submit"
                class="btn-sm btn md:btn-md"
            >
                <span *ngIf="isLoading" class="loading loading-spinner"></span>
                Submit
            </button>
        </section>
    </form>
</section>
